d.scroll-section {
    padding: 3vh 0;
    margin: 0 5vw;
  }
  
  .graphic-container {
    display: flex;
    justify-content: space-between;
  }
  
  .graphic {
    width: 100%;
    flex-basis: 60%;
    position: sticky;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
  }
  
  .graphic.visible {
    opacity: 1; 
  }
  
  .graphic.hidden {
    opacity: 0; 
  }
  
  
  .scroller {
    flex-basis: 40%;
  }
  
  .step {
    margin: 0 auto 3rem;
    margin-left: 40px;
    padding: 100px 10px;
    border: 1px solid #333;
    text-align: center;
  }
  
  .step-text {
    opacity: 0;
    background-color: #e3e3e3
  }