.food-chart-container {
    width: 30%;
    min-width: 348px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 10px;
}

.grid-water-usage-1kg {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(10, minmax(15px, 1fr));
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border: solid 3px white;
}

.water-icon-container {
    justify-self: center;
}

.water-used-for-1kg {
    color: #a2d3e2;
}

.food-type-title {
    text-align: center;
    margin-top: 1.5vh;
    color: #a2d3e2;

}

.food-type-water-usage {
    margin: 10px;
    margin-top: 0;
    font-size: 1.4rem;
    color: #ff3e2c;
}

.type-water-ressources-container img {
    object-fit: contain;
    height: 60px;
    margin: 10px;
}

.type-meat-water-container img {
    object-fit: contain;
    height: 80px;
    margin: 0;
}

.type-non-meat-water-container img {
    object-fit: contain;
    height: 60px;
    margin: 10px;
}

.type-water-ressources-icon {
    display: block;
    margin: auto;
}



@media screen and (max-width: 810px) {
    .food-chart-container {
        width: 90%;
        min-width: auto;
        max-width: none;
    }

    .grid-water-usage-1kg {
        width: 100%;
    }

    
}