    .water-ressources {
        height: auto;
        max-width: 1920px;
        margin-bottom: 30vh;
    }

    .water-ressources-scroll-container {
        display: flex;
        width: 100%;
        margin-top: 60px;
    }

    .scroller-water-ressources {
        flex-basis: 40%;
        max-width: 1510px;
    }

    .step-water-ressources {
        flex-basis: 40%;
        padding: 130px 0;
        width: 80%;
        margin: auto;
    }

    .water-ressources-article {
        color: black;
    }

    .water-ressources-chart {    
        position: sticky;
        flex-basis: 50%; 
        align-self: flex-start; 
        top: 10px;
        left: 10px;
        padding: 30px 0;
        padding-left: 40px;
    }

    .water-ressources-icon-grid {
        display: grid;
        position: sticky;
        top: 3vh;
        left: 50px;
        height: 85vh;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); 
        gap: 15px;
    }


    @media screen and (min-width: 1450px) {
        .water-ressources-icon-grid {
            height: auto;
        }

        .water-ressources-chart {    
            width: 100%;
            top: 20%;
        }  
    }

    @media screen and (max-width: 800px) {
        .water-ressources-scroll-container {
            display: block;
            position: relative; 
            width: 100%;
            height: 170vh; 
            z-index: 1;
        }
    
        .scroller-water-ressources {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            z-index: 2; 
        }
    
        .water-ressources-chart {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            z-index: 1; 
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    
        .step-water-ressources {
            padding: 10px 0;
            width: 80%;
            margin: auto;
        }
    
        .water-ressources-article {
            color: black;
        }
    }
    
    