
.water-ressources-scroll-container {
    display: flex;
}

.scroller-water-ressources {
    background-color: aqua;
    flex-basis: 40%;
}

.step-water-ressources {
    height: 300px;
    flex-basis: 60%;
    padding: 200px 0;
    width: 90%;
    margin: auto;
}

.water-ressources-chart {
    background-color: brown;
    flex-basis: 60%;
    position: sticky;
    top: 0px;
    left: 0px;
}

.water-ressources-article {
    color: black;
    
}