.production-world-wide-chart {
    width: 90%;
    max-width: 800px;
}

.chart-dark-bg {
    font-family: 'Poppins-Bold', sans-serif;
    fill: white; 
    font-weight: bold;
}

.area-fill {
  stroke: none !important;
}
