.conclusions-headline-section {
    display: flex;
    margin-top: 0;
}

.conclusions-headline-container {
    width: 80%;
    word-wrap: break-word;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

.conclusion-headline {
    color: white;
    transform: translate(-50%, -50%);
    margin: 10vh auto;
    
}