.conclusions-headline-section {
    display: flex;
    margin-top: 0;
}

.conclusions-headline-container {
    width: 70%;
    max-width: 1200px;
    word-wrap: break-word;
    margin: auto;
    margin-top: 0;
    text-align: center;
    font-family: 'PTSerif-Bold';
    
}

.conclusion-headline {
    color: white;
    transform: translate(-50%, -50%);
    margin: 10vh auto;
    font-size: 2rem;
}

@media screen and (min-width: 1800px) {
    .conclusions-headline-container {
        width: 75%;
        
    }
  }