.conclusions-headline-section {
    display: flex;
    margin-top: 0;
}

.conclusions-headline-container {
    width: 70%;
    max-width: 1200px;
    word-wrap: break-word;
    margin: auto;
    margin-top: 0;
    text-align: center;
    font-family: 'PTSerif-Bold';
    
}

.conclusion-headline {
    color: white;
    transform: translate(-50%, -50%);
    margin: 10vh auto;
    font-size: 2rem;
}

@media screen and (min-width: 1800px) {
    .conclusions-headline-container {
        width: 75%;
    }
}

@media screen and (max-width: 800px) {
    .conclusions-headline-section {
        width: 90%;
        margin: auto;
    }

    .conclusions-headline-container {
        width: 100%;
    }

    .conclusion-headline {
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
}