.water-usage-1kg-charts {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 90%;
    max-width: 1600px;
}

.water-usage-chart-title {
    width: 90%;
    margin: 50px auto;
    padding-bottom: 30px;
    text-align: center;
}
