.legend-container {
    display: flex;
    border: 3px solid #e3e3e3;
    width:fit-content;
    padding: 10px;
    margin: auto;
}

.legend-container p {
    color: #e3e3e3;
    font-family: "PTSerif-Bold";
    padding: 0 10px;
}


@media screen and (max-width: 800px) {
    .legend-container {
        width: 90%;
        margin-bottom: 5vh;
        box-sizing: border-box;
    }

    .legend-container p {
        font-size: 0.9rem;
    }
    
}