.sources-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    line-height: 2.7rem;
}

.sources-list a {
    color: white;
    font-size: 1.3rem;
    font-family: 'PTSerif-Bold';
}

.sources-list a:hover {
    color: #ff3e2c;
    text-decoration: underline;
}