

.meat-icon-grid {
  display: grid;
  width: 25%;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px; 
  justify-content: center; 
  align-content: center; 
  margin: auto; 
  justify-content: center;
  align-items: center;
}


