.food-ressources {
    height: fit-content;
    max-width: 1920px;
    margin: auto;
}

.food-ressources-scroll-container {
    display: flex;
    width: 100%;
    position: relative;
    height: 250vh;
}

.scroller-food-ressources {
    flex-basis: 40%;
}

.step-food-ressources {
    flex-basis: 40%;
    padding: 100px 0;
    width: 80%;
    margin: auto;
}

.step-food-ressources span {
    color: #ff3e2c;
    font-family: "PTSerif-Bold";
}

.food-ressources-article {
    color: black;
}

.food-ressources-chart {
    flex-basis: 50%;
    position: sticky;
    height: fit-content;
    top: 3vh;
}

.food-ressources-title {
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    color: #e3e3e3;
    font-family: 'PTSerif-Bold';
}

.food-ressources-text {
    color: #e3e3e3;
    font-size: 1.2rem;
}

.food-container {    
    flex-basis: 50%; 
    align-self: flex-start; 
    top: 10px;
    left: 10px;
    padding: 20px 0;
    padding-left: 40px;
    height: fit-content;
}

.food-icon-grid {
    display: grid;
    justify-content: start; 
    justify-items: start; 
    height: fit-content;
    padding: 15px;
    grid-template-columns: repeat(auto-fit, minmax(20px, auto)); 
    gap: 20px;
    border: solid 2px #e3e3e3;
}

.food-usage-title {
    width: 80%;
    margin: 50px auto;
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}


  @media screen and (min-width: 1450px) {
    
    .food-ressources-chart {
        flex-basis: 50%;
        position: sticky;
        height: fit-content;
        top: 15vh;
    }
    }

    @media screen and (max-width: 700px) {

        .food-ressources-scroll-container {
            display: block;
            position: sticky;
        }

        .scroller-food-ressources {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }

        .food-ressources-chart {
            height: auto; 

        }

        .food-icon-grid {
            padding: 10px;
            gap: 5px;
        }

        .food-container {    
            padding-left: 0px;
            margin: auto 3vw;
        }

        
    }