.meat-production-layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 10vh;
}

.counter {
  position: sticky;
  left: 10vw;
  top: 20vh;
  width: 25%;
  text-align: center;
  font-family: 'Poppins-Bold', sans-serif;
  border: solid #a2d3e2 3px;
  background-color: transparent;
}

.counter h2 {
  font-size: 3rem;
  color: #ff3e2c;
  margin: 0;
  border: solid #a2d3e2 3px;
  background-color: transparent;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  padding: 0.2rem;
  padding-top: 0.4rem;
}

.counter p {
  font-size: 1.2rem;
  color:  #e3e3e3;
}

.meat-production-wrapper {
  width: 50%;
  margin-left: 20px;
}

.meat-step {
  width: 100%;
  margin-bottom: 10px;
}

.meat-grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  justify-content: center;
  align-content: center;;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;  
}

.scrollama-step-active .meat-grid-container {
  opacity: 1;  
}

.meat-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.meat-icon {
  width: 100%;
  height: auto;
}


@media screen and (min-width: 1920px) {
  .meat-production-layout {
    width: 50%;
  }

  .meat-grid-container {
    max-width: 600px;
  }

  .counter {
    position: sticky;
    left: 30vw;
    top: 20vh;
    width: 25%;
    text-align: center;
    font-family: 'Poppins-Bold', sans-serif;
    border: solid #a2d3e2 3px;
    background-color: transparent;
  }
}

@media screen and (max-width: 800px) {
  .meat-production-layout {
    display: none;
  }
}
