.button-arrow {
    width: 30%;
    display: block;
    margin: auto;
}

.section-button {
    margin-top: 20vh;
    border-radius: 20px;
    margin: auto;
    display: block;
    transition: all 0.8s ease-in-out;
}

.section-button:hover {
    border-color: transparent;  
    font-size: larger;
}


.button-container {
    margin: auto;
}