.food-usage-1kg {
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
}

.food-usage-chart-title {
    width: 80%;
    margin: auto;
    text-align: center;
}

.food-usage-1kg-chart {
    width: 80%; 
    margin: auto;
}

.food-produced-container {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 15vh;
}

.food-produced-container p {
    text-align: center;
    color: white;
    font-family: 'PTSerif-Bold';
}

.meat-based-container {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
}

.info-circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10vh auto;
}

.info-circle-container-2 {
    margin-bottom: 20vh;    
}                  


.plant-based-container {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: center;
}

.humans-fed-container {
    width: fit-content;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.humans-fed-container-2 {
    margin: 0;
    width: 70%;
    min-width: 400px;
    
}

.one-kg-meat-container {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-self:flex-start;
}