

.landuse-scroll-container {
    position: relative;   
    height: 400vh; 
    overflow-y: auto; 
    padding-top: 0; 
    overflow: visible; 
    margin: 0 10vw;
}

.landuse-chart-container {
    position: sticky;
    margin: 0 auto;
    height:fit-content;
    width: 85%;
    top: 0;
    left: 0;
    overflow: visible;
    max-width: 1355px;
}

.landuse-headline {
    padding: 4vh 0;
    margin: 3vh 10px;
    margin-bottom: 0;
    box-sizing: border-box;
}

.landuse-chart {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 60vh;
    border-radius: 20px;
    overflow: hidden; 
    margin: auto;
}

.landuse-chart-meat {
    width: 70%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.landuse-chart-fill {
    height: 100%;
    width: 0%; 
    transition: width 0.1s ease-out; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    position: relative;
}

.landuse-chart-fill-text {
    font-family: "PTSerif-Bold";
    font-size: 1.5rem; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; 
    pointer-events: none; 
}

.text-second-chart {
    font-family: "PTSerif-Bold";
    font-size: 1.5rem; 
    position: absolute; 
    top: 50%;
    left: 72%;
    transform: translate(-90%, -50%);
    white-space: nowrap; 
    pointer-events: none; 
    z-index: 10;
}

.text-second-chart p {
    color: #e3e3e3; 
}


.landuse-article  {
    font-family: "PTSerif-Bold";
    width: 90%;
    min-width: 640px;
    max-width: 950px;
    background-color: transparent;
}

.landuse-article p  {
   padding-top: 0.1rem;
   margin-top: 0.0;
   color: #e3e3e3; 
}

@media screen and (max-width: 950px) {
    .landuse-scroll-container {
        height: auto; 
        width: 90%;
        margin: auto;
    }

    .landuse-chart-container {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 690px) {
    .landuse-chart {
        width: 100%;
        height: 100vh;
    }

    .landuse-article  {
        width: 90%;
        min-width: auto;
        max-width: auto;
    }

    .landuse-chart-fill-text {
        font-size: 1.3rem;
        white-space: normal; 
        overflow-wrap: break-word; 
        word-break: break-word;
        width: 85%;
        max-width: 100%; 
    }

    .text-second-chart {
        left: 88%;
        font-size: 1.3rem; 
        white-space: normal; 

        overflow-wrap: break-word; 
        word-break: break-word; 
        width: 75%;
        max-width: 100%; 
        text-align: right;
    }


}



