

.landuse-scroll-container {
    position: relative;   
    height: 600vh; 
    overflow-y: auto; 
    padding-top: 0; 
    overflow: visible; 
    margin: 0 10vw;
}

.landuse-chart-container {
    position: sticky;
    margin: 0 auto;
    height:fit-content;
    width: 85%;
    top: 0;
    left: 0;
    overflow: visible;
    max-width: 1355px;
}

.landuse-headline {
    padding: 4vh 0;
    margin: 3vh 10px;
    margin-bottom: 0;
    box-sizing: border-box;
}

.landuse-chart {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 60vh;
    border-radius: 20px;
    overflow: hidden; 
    margin: auto;
}

.landuse-chart-meat {
    width: 70%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.landuse-chart-fill {
    height: 100%;
    width: 0%; 
    transition: width 0.1s ease-out; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    position: relative;
}

.text-second-chart {
    font-family: "PTSerif-Bold";
    color: #e3e3e3; 
    font-size: 1.5rem; 
    position: absolute; 
    top: 50%;
    left: 72%;
    transform: translate(-90%, -50%);
    white-space: nowrap; 
    pointer-events: none; 
    z-index: 10;
}

.landuse-chart-fill-text {
    font-family: "PTSerif-Bold";
    color: #352f36; 
    font-size: 1.5rem; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; 
    pointer-events: none; 
}

.landuse-text  {
    width: 70%;
    min-width: 640px;
    max-width: 950px;
    background-color: transparent;
}

.landuse-text p {
    color: #e3e3e3;
    font-family: "PTSerif-Bold";
    margin-top: 0;

}

@media screen and (max-width: 730px) {
    .landuse-chart-fill-text {
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        white-space: normal; 
    }

    .landuse-text  {
        width: 100%;
        min-width: auto;
        max-width: auto;
    }

    
}

@media screen and (max-width: 840px) {
    .text-second-chart {
        left: 72%;
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        white-space: normal; 
    }
}
