.air-pollution {
    width: 90%;
    margin: auto;
    padding-bottom: 10vh;
}

.air-pollution h2 {
    padding-bottom: 10vh;
}

.emission-charts-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: end;
}