.food-ressources-chart-container {
    min-width: 348px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 10p auto;
}

.grid-food-usage-1kg {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: solid 3px white;
    margin: auto;
}

.food-used-for-1kg {
    color: #a2d3e2;
}

.food-consumed-title {
    text-align: center;
    margin-top: 1.5vh;
    color: #a8d5ba
}

.animal-type-ressource-usage {
    margin: 10px;
    margin-top: 0;
    font-size: 1.4rem;
    color: #ff3e2c;
}

.animal-icon-container img {
    object-fit: contain;
    height: 60px;
    margin: 10px;
}

.type-meat-water-container img {
    object-fit: contain;
    height: 80px;
    margin: 0;
}

.type-non-meat-water-container img {
    object-fit: contain;
    height: 60px;
    margin: 10px;
}

.type-animal-icon {
    display: block;
    margin: auto;
    width: 100%;
}

.food-consumed-chart-container  {
    width: 70%;
    margin: auto;
    font-family: 'PTSerif-Bold';
}
   

.food-consumed-chart-container p {
    opacity: 1;
    color: white;
    text-align: center;
}


@media screen and (max-width: 810px) {
    .food-chart-container {
        width: 90%;
        min-width: auto;
        max-width: none;
    }

    .grid-water-usage-1kg {
        width: 100%;
    }
}